In [14]:
#Zad1.
x = matrix(c(73, 68, 74, 71, 67, 73, 67, 75, 72, 70, 75, 68, 78, 73, 68, 73, 71, 75, 75, 69), byrow=TRUE, nrow = 4, ncol = 5)
x = data.frame(x)
# rownames(x) <- c(1:4) 
# colnames(x) <- c(1:5)
x = (x-70)*1
# x$sum = rowSums(x)
# x[nrow(x) + 1,] = colSums(x)
x

  X1 X2 X3 X4 X5
1 3  -2 4  1  -3
2 3  -3 5  2   0
3 5  -2 8  3  -2
4 3   1 5  5  -1

In [15]:
a = 4
b = 5
N = 20

In [4]:
#a) + b)?
SST = sum(x[1:4, 1:5]**2)-(35**2/20)
SST
SSA = sum(x[1:4, 6]**2)/b -(35**2/20)
SSA
SSB = sum(x[5,1:5]**2)/a - (35**2/20)
SSB
SSE = SST - SSA - SSB
SSE

[1] 191.75

[1] 12.95

[1] 157

[1] 21.8

In [9]:
# Poziom czynnika: a-1=4 MSA=SSA/a-1   F=MSA/MSE
# Bloki: b-1=3  SSB/b-1   MSB=SSB/b-1  F=MSB/MSE
#F0 = MSB/MSE
MSA = SSA/(a-1)
MSB = SSB/(b-1)
MSE = SSE/((a-1)*(b-1))
F0 = MSB/MSE
F0
qf(p=0.95, df1=4, df2=12)
#Wartość z tablic F(0.95) dla stopni swobody (4,3*4=12) = 3,259 Odrzucamy hipotezę H0.

[1] 21.6055

[1] 3.259167

In [24]:
a = nrow(x) 
b = ncol(x)
N = a*b
yi <- rowSums(x) # yi.
yj <- colSums(x) # y.j
y = sum(x) # y..

mu.hat =  y/N
tau.hat =  rowMeans(x) - y/N # estymator dla i-tego poziomu czynnika
mui.hat = mu.hat + tau.hat
beta.hat =  colMeans(x) - y/N  #estymator dla j-tego bloku
betai.hat = mu.hat + beta.hat

mu.hat
tau.hat # estymator dla i-tego poziomu czynnika
mui.hat
beta.hat # estymator dla j-tego bloku
betai.hat

[1] 4.666667

         1          2          3          4          5
-3.6666667 -2.3333333 -0.6666667 -0.3333333  7.0000000

        1         2         3         4         5
 1.000000  2.333333  4.000000  4.333333 11.666667

         1          2          3          4          5        sum
 0.9333333 -7.0666667  4.1333333 -0.2666667 -7.0666667  9.3333333

   1    2    3    4    5  sum
 5.6 -2.4  8.8  4.4 -2.4 14.0

In [11]:
#c) substancja 2, bela 3
x2 = x[1:4, 1:5]
x2[2, 3] = NaN
x2$sum = rowSums(x2, na.rm=TRUE)
x2[nrow(x2) + 1,] = colSums(x2, na.rm=TRUE)
x2

  1  2  3   4  5  sum
1  3 -2   4  1 -3  3
2  3 -3 NaN  2  0  2
3  5 -2   8  3 -2 12
4  3  1   5  5 -1 13
5 14 -6  17 11 -6 30

In [12]:
y2 = sum(x2[2,1:5], na.rm=TRUE)
y3 = sum(x2[1:4,3], na.rm=TRUE)
y.. = sum(x2[1:4,1:5], na.rm=TRUE)
x_estymowane = (a*y2+b*y3-y..)/((a-1)*(b-1))
x_estymowane

[1] 5.25

In [35]:
analiza_wariancji <- function(x, estymacja=FALSE){
    a = length(row.names(x)) - 1
    b = length(colnames(x)) - 1
    if (estymacja==TRUE) {  y2 = sum(x[2,1:5], na.rm=TRUE)
                            y3 = sum(x[1:4,3], na.rm=TRUE)
                            y.. = sum(x[1:4,1:5], na.rm=TRUE)
                            x_estymowane = (a*y2+b*y3-y..)/((a-1)*(b-1))
                            H = ((y3-(a-1)*x_estymowane)**2)/(a*(a-1))
                            SSA = sum(x[1:4, 6]**2)/b -(x[5,6]**2/20)  - H }   #x[5,6] to suma y.i=y j.
    else { SSA = sum(x[1:4, 6]**2)/b -(x[5,6]**2/20) }
SST = sum(x[1:4, 1:5]**2)-(x[5,6]**2/20) 
SSB = sum(x[5,1:5]**2)/a - (x[5,6]**2/20)
SSE = SST - SSA - SSB
MSA = SSA/(a-1)
MSB = SSB/(b-1)
MSE = SSE/((a-1)*(b-1))
F0 = MSB/MSE
f_ztablic = qf(p=0.95, df1=(a-1), df2=((a-1)*(b-1)))
    if (f_ztablic > F0){ print("H0")}
    else {print("H1")}
return (list(SST, SSA, SSB, SSE, MSA, MSB, MSE, F0, f_ztablic))}
analiza_wariancji(x)
x2[2, 3] = x_estymowane
analiza_wariancji(x2, estymacja=TRUE)

[1] "H1"

[[1]]
[1] 191.75

[[2]]
[1] 12.95

[[3]]
[1] 157

[[4]]
[1] 21.8

[[5]]
[1] 4.316667

[[6]]
[1] 39.25

[[7]]
[1] 1.816667

[[8]]
[1] 21.6055

[[9]]
[1] 3.490295

[1] "H1"

[[1]]
[1] 210.5625

[[2]]
[1] 18.86667

[[3]]
[1] 124.5

[[4]]
[1] 67.19583

[[5]]
[1] 6.288889

[[6]]
[1] 31.125

[[7]]
[1] 5.599653

[[8]]
[1] 5.55838

[[9]]
[1] 3.490295

In [32]:
#d) 
x3 = x[1:4, 1:5]
x3[2,3] = NaN
x3[4,4] = NaN
x3$sum = rowSums(x3, na.rm=TRUE)
x3[nrow(x3) + 1,] = colSums(x3, na.rm=TRUE)
x3

  1  2  3   4   5  sum
1  3 -2   4   1 -3  3
2  3 -3 NaN   2  0  2
3  5 -2   8   3 -2 12
4  3  1   5 NaN -1  8
5 14 -6  17   6 -6 25

In [33]:
estymacja_brakujacej <- function(x,nr_row,nr_col){
    y2. = sum(x[nr_row,1:5], na.rm=TRUE)
    y.3 = sum(x[1:4,nr_col], na.rm=TRUE)
    y.. = sum(x[1:4,1:5], na.rm=TRUE)
    x_estymowane = (a*y2.+b*y.3-y..)/((a-1)*(b-1))
    return (x_estymowane)  }
#przykład:
estymacja_brakujacej(x3, 2,3)
estymacja_brakujacej(x3, 4,4)

[1] 4.35

[1] 2.55

In [34]:
x3[2,3] = NaN
x3[4,4] = NaN
x3

  1  2  3   4   5  sum
1  3 -2   4   1 -3  3
2  3 -3 NaN   2  0  2
3  5 -2   8   3 -2 12
4  3  1   5 NaN -1  8
5 14 -6  17   6 -6 25

In [28]:
last_23 = 0.00
last_44 = 0.00
iter = 0
# dI.
while ( (last_23 != estymacja_brakujacej(x3, 2,3))&( last_44 != estymacja_brakujacej(x3, 4,4) )) {
    iter = iter+1
    if ((is.nan(x3[2,3])) || (is.nan(x3[4,4] == NaN))){ 
        last_23 = 0
        last_44 = 0 }
    else{ last_23 = x3[2,3]
          last_44 = x3[4,4] }
    x3[2,3] = estymacja_brakujacej(x3, 2,3)
    x3[4,4] = estymacja_brakujacej(x3, 4,4) 
}
iter #po 10 iteracji osiąga zbieżność (jeżeli zaokrąglenie do 2, jeżeli do 4 liczby po przecinku to po 33 iteracji dopiero...), bez round - po 79 iteracjach

[1] 55

In [ ]:
x3 #15.6665 i 5.3335

In [29]:
# dII. ?? O co pomniejszony kwadrat błędu? H x2?
analiza_wariancji(x3) # czy
analiza_wariancji(x3, estymacja=TRUE)

[1] "H0"

[[1]]
[1] 258.4442

[[2]]
[1] 12.95

[[3]]
[1] 117

[[4]]
[1] 128.4942

[[5]]
[1] 4.316667

[[6]]
[1] 29.25

[[7]]
[1] 10.70785

[[8]]
[1] 2.73164

[[9]]
[1] 3.490295

[1] "H0"

[[1]]
[1] 258.4442

[[2]]
[1] 8.624544

[[3]]
[1] 117

[[4]]
[1] 132.8197

[[5]]
[1] 2.874848

[[6]]
[1] 29.25

[[7]]
[1] 11.06831

[[8]]
[1] 2.642681

[[9]]
[1] 3.490295

In [ ]:
# d III. 
# ZRóżniczkować SSE względem 2 brakujących danych

In [ ]:
#?????????????? wzory

In [ ]:
#2.a)
data2 = matrix(c(13, 22, 18, 39,     16, 24, 17, 44,    5, 4, 1, 22), byrow=TRUE, nrow = 3, ncol = 4)
data2 = data.frame(data2)
colnames(data2) <- c(1:4)
data2$sum = rowSums(data2)
data2[nrow(data2) + 1,] = colSums(data2)
data2

In [ ]:
analiza_wariancji <- function(data2) {
    a = length(row.names(data2)) - 1
    b = length(colnames(data2)) - 1
SST = sum(data2[1:3, 1:4]**2)- ((data2[4,5]**2/(3*4))) 
SSA = sum(data2[1:3, 5]**2)/b -((data2[4,5]**2/(3*4)))
SSB = sum(data2[4, 1:4]**2)/a - (data2[4,5]**2/(3*4))
SSE = SST - SSA - SSB
MSA = SSA/(a-1)
MSB = SSB/(b-1)
MSE = SSE/((a-1)*(b-1))
F0 = MSB/MSE
f_ztablic = qf(p=0.95, df1=(a-1), df2=((a-1)*(b-1)))
if (f_ztablic > F0){ print("H0")}
else {print("H1")}
return (list(SST, SSA, SSB, SSE, MSA, MSB, MSE, F0, f_ztablic))}
analiza_wariancji(data2)

In [ ]:
#b)
data2b = matrix(c(13, 22, 18, 39,     16, 24, 17, 44,    5, 4, 1, 22), byrow=TRUE, nrow = 3, ncol = 4)
data2b = data.frame(data2b)
colnames(data2b) <- c(1:4)
# data2b$mean = rowMeans(data2b)
# data2b[nrow(data2b) + 1,] = colMeans(data2b)
data2b

# Na piechotę

In [ ]:
max(t.test(data2b[,1], data2b[,2], paired=TRUE)$p.value,
t.test(data2b[,1], data2b[,3], paired=TRUE)$p.value,
t.test(data2b[,1], data2b[,4], paired=TRUE)$p.value,
t.test(data2b[,2], data2b[,3], paired=TRUE)$p.value,
t.test(data2b[,2], data2b[,4], paired=TRUE)$p.value,
t.test(data2b[,3], data2b[,4], paired=TRUE)$p.value)

In [ ]:
a_max = 1 - (1- 0.82182583872505)**(6-1)
a_max

# Test Dunkana

In [ ]:
# install.packages("PMCMRplus")
library("PMCMRplus")
duncanTest(data2b)

In [ ]:
duncanTest( c(13,16, 5, 22,24, 4, 18,17,1, 39, 44,22), factor(rep(1:4, each=3)))

In [ ]:
# Różnice między 1 a 4 dniem, 3 i 4.

In [20]:
library(agricolae)

technika <-  c(1,1,1,1,2,2,2,2,3,3,3,3)
l.bakterii <- c(13,22,18,39,16,24,17,44,5,4,1,22)
y <- aov(technika~l.bakterii,)

duncan <- duncan.test(y, "technika", alpha=0.05, group=TRUE)
duncan

Warning message:
"package 'agricolae' was built under R version 3.6.3"

$statistics
    MSerror Df Mean       CV
  0.6066855 10    2 38.94501

$parameters
    test   name.t ntr alpha
  Duncan technika   3  0.05

$duncan
     Table CriticalRange
2 3.151064      1.227182
3 3.292833      1.282394

$means
  technika std r Min Max Q25 Q50 Q75
1        1   0 4   1   1   1   1   1
2        2   0 4   2   2   2   2   2
3        3   0 4   3   3   3   3   3

$comparison
NULL

$groups
  technika groups
3        3      a
2        2     ab
1        1      b

attr(,"class")
[1] "group"